* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --title-text-color: #000000;
  --white-text-color: #ffffff;
  --background-accent-color: #2f303a;
  --icon-color: #afb1b8;
  --hero-background: #c4c4c4;
  --team-background-color: #f5f4fa;
  --button-active-bg: #188ce8;
  --header-border: #ececec;
  --footer-email-tel-color: rgba(255, 255, 255, 0.6);
}

body {
  justify-content: center;

  width: 100%;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.line {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section {
  padding: 94px 0;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-text-color);
}
.site-nav {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.site-nav :hover {
  color: var(--accent-color);
}

.current,
.site {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contacts > li:not(:last-child) {
  margin-right: 50px;
}
.header-contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  align-items: center;
}
.icon {
  fill: currentColor;

  margin-right: 10px;
}
.icon:hover,
.icon:focus {
  fill: var(--accent-color);
}

.site-link :hover,
.site-link :focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.tekst-1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
  padding-bottom: 10px;
}

.tekst-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
}

.hero {
  max-width: 1600px;
  background-color: var(--hero-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background_colour.jpg");
  background-repeat: no-repeat;

  margin: 0 auto;
  padding: 200px 0;
}
.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;
  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-bg);
}

.section-features {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
}
.benefits-list > li {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.benefits-list > li:not(:last-child) {
  margin-right: 30px;
}
.benefits-item {
  width: 270px;
  padding: 0;
}
.benefits-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.icon-benefits {
  width: 70px;
  height: 70px;
}
.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-subtitle {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.foto-work {
  display: flex;
}
.foto-work .item-work:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  background-color: var(--team-background-color);
}
.team-list {
  display: flex;
}
.team-link {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-link:not(:last-child) {
  margin-right: 30px;
}
.cards {
  padding: 30px 32px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}
.team-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}
.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
}
.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--white-text-color);
}
.icon-team {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.list-icon:not(:last-child) {
  margin-right: 10px;
}

.clients-list {
  display: flex;
}
.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid;
  border-radius: 4px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.link-client:hover,
.link-client:focus {
  color: var(--accent-color);
}
.icon-client {
  fill: currentColor;
}

.flex-container {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: var(--background-accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 70px;
  margin-left: 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-white {
  color: var(--white-text-color);
}
.footer-address {
  color: var(--white-text-color);
  text-decoration: none;
}
.footer-item {
  display: block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--footer-email-tel-color);
}
.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.join {
  display: flex;
  flex-direction: column;
}

.join-p {
  text-transform: uppercase;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.join .team-icons {
  padding-left: 0;
  padding-right: 0;
}

.join .link-icon {
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join .link-icon:hover,
.join .link-icon:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--white-text-color);
}

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.item-button {
  margin-right: 8px;
}
.item-button:last-child {
  margin-right: 0;
}
.filter-button {
  background-color: var(--team-background-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  border: 0;
  border-radius: 4px;
}
.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-img {
  display: block;
}
.project-link {
  text-decoration: none;
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.projects-text {
  margin-bottom: 0px;

  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
